@import 'antd/dist/antd.css';

.App{
  text-align: center;
  position: relative;
  top: 98px;
  left: 22em;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(167, 158, 158);
  position: relative;
  width: 1030px;
  height: 929px;
  border-radius: 15px;
  background: #F9FCFE;
  position: absolute;
}
.classSpace {
  height: 1025px;
  width: 99%;
  border: 1px solid rgb(68, 52, 189);
  border-radius: 5px;
  color: #242424;
  position: absolute;
  top: 1px;



color: #242424;
left:5px;

}

 

.total{
  display: flex;
  position: absolute;
  width: 288px;
  height: 1024px;
  left: 0px;
  top: 0px;

background: #FFFFFF;
box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.05), 0px 8px 10px 1px rgba(0, 0, 0, 0.05), 0px 3px 14px 2px rgba(0, 0, 0, 0.05);
}
.App header{
  width: 10em;
}
.addStudent>button {
   width: 100px;
    left: 87em;
    top: 37px;
    border-radius: 8px;
    height: 35px;
    color: blue;
    font-weight: 700;

}
.classSpace>h1 {
  color: #2CA4D8;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 39px;
}
.dashboard{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.courses{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.students{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  
}

.exams{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.results{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.noticeboard{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.liveclasses{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.notifications{
  font-style: normal;
  color: #242424;
  padding: 20px;
  margin-left: 70px;
  font-weight: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.student {
 color: blue;
 margin-left: 270px;
 font-weight: 600;
 font-size: 30px;
 line-height: 0px;
 margin-top: 39px;
}


